.code-folding-btn { margin-bottom: 4px; }

.row { display: flex; }

.level1 .header-section-number {
  border-bottom: 0px;
  display: inline-block;
}

.inline-figure img:not(img[src*="figures/logo.png"]) {
  margin:2px;
  width:100%;
}
/*
.inline-figure img:not(.front-cover) {
  margin:2px;
  width:100%;
}
*/

code a:any-link {
    text-decoration: none;
}

.level2 .header-section-number {
  border-bottom: none;
}

.inline-figure {
  border: none !important;
}

p {
  text-align: justify;
}

.figure, .inline-figure {
  overflow-x: visible !important;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 850px !important;
}

.book .book-summary {
  width: 380px;
  position:absolute;
  top:0;
  left:-380px
}

.book.with-summary .book-header.fixed {
    left: 380px;
}

.book.with-summary .book-body {
    left: 380px;
}

.book .book-body .page-wrapper .page-inner section.normal h1.title {font-size:24px; font-weight:700;}
.book .book-body .page-wrapper .page-inner section.normal h1 {font-size:22px; font-weight:700;}
.book .book-body .page-wrapper .page-inner section.normal h2 {font-size:20px; font-weight:700;}
.book .book-body .page-wrapper .page-inner section.normal h3 {font-size:18px; font-weight:700;}
.book .book-body .page-wrapper .page-inner section.normal h4 {font-size:16px; font-weight:700;}

.book .book-body .page-wrapper .page-inner section.normal img:not(.front-cover) {margin:2px; }

.book .book-body .page-wrapper .page-inner section.normal .verysmall td {line-height: 14px; vertical-align: bottom;
    font-size:10pt;
    padding-top:2px;
    padding-bottom:2px;
    horizontal-align: center;
}

.nobullet li {
  list-style-type: none;
}

.pre-scrollx {
  max-width: 330px;
  min-width: 280px;
  margin-left:30%;
}

.goright95{
    margin-left:90%;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

h1.header-section-number {
  padding-right: .2em;
  font-weight: 500;
  border-bottom: none;
}

.book .book-body .page-wrapper .page-inner section.normal h1.title {
  display: inline-block;
  border-bottom: none;
}
.book .book-body .page-wrapper .page-inner section.normal h1 {
  display: inline-block;
  border-bottom: 1px solid;
}
